/*Estilos body*/
.body {
	background: #f7b617;
}

/*Estilos orange-box*/
.primary {
	background: #f7b617;
}


/*Estilos nav*/
nav{
	background: white;
	width: 100%;
	height: 10%;
	color: black;	
}

.navbar-nav{
	margin-top: 0.5em;
}

/*invierto color menu hamburguesa*/
span .icon-bar {
	color:black;
}

/*estilos imagen portada*/
.taxi {
	background-image: url(../images/taxi.jpg);
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 60em;
}

/* Estilos (login)*/
.box-login {
	padding-left:0;
  color: #FFF;
  margin-top: 15em;
  padding: 2em;
}

/*Logo Labcar blanco*/
.logo{
  width: 6em;
  margin-left: 0.5em;
  margin-bottom: 0.3em;
  
}

/*primary box-login {
  display: inline-block;
  width: 5em;
  height: auto;
  padding: 0 1em 0 1em;
}*/

/*Estilos sección celular*/
.iphone {
	background-color: #F7B617;
  height: 532px;
}

/*Rectangulo blanco*/
.white_rec {
  border: 1px solid white;
  height: 400px;
  margin-top: 50px;
}

/*img cel*/
.white_rec img{
  width: 250px;
  vertical-align: middle;
  margin-top: 85px;
  margin-left: 75px;
}

/*img cel texto*/
/*.app_text {
  height: 450px;
}*/

.text_h2 {
  font-weight: bold;
  color: #FFF;
  font-size: 3rem;
  margin-top: 40px;
  margin-bottom: 20px;
}

#text_p {
  color: #FFF;
  font-size: 1.6rem;
  margin-bottom: 22px;
}

/*img cel texto responsive*/
/*.small_text {
  background-color: #f7b617;
}*/

/*.stext {
  margin-top: 10px;
  margin-left: 4.5%;
}

/*.pequetext {
  margin-top: 20px;
}*/

.text_h2s {
  text-align: left;
  color: #FFF;
  font-size: 30px;
  font-weight: bold;
  margin-top: -340px;
}

/*small_cel {
  background-image: url(../images/iPhone6Plus.png);
  width: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 54%;
  height: 440px;
  margin-top: 75px;*/
}

.destiny {
  text-align: left;
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
  margin-top: 550px;
}


/*texto responsive*/
/*.white_rec h3 {
  color: white;
  font-weight: bolder;
}

.white_rec p{
  color: white;
}

/*Sección conductor*/
.driver_section {
  width: 100%;
  background-position: center;
  background-image: url(../images/conduce.jpg);
  height: 400px;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

/* rectángulo negro */
.bfilter {
  background-color: rgba(0,0,0, 0.5);
  height: 400px;
}

.bfilter h3 {
  color:white;
  margin-top: 30px;
}

/* texto en el filtro */
.text-black {
  color: white;
  margin-top: 90px;
  margin-left: 30px;
}

/* boton del filtro */
.text-black button {
  background-color: #F7A733;
  color: white;
  border: none;
}